.App {
  text-align: center;
}

.App-logo {
  height: 50px; /* Adjust as needed */
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row; /* Align items horizontally */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}